.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.product-img{
    margin-right: 20px;
}
.btn-regular{
    background-color: #FF9800;
    border-radius: 5px;
    border: none;
    color:white;
    padding:5px 10px
}
.btn-regular:hover{
    background-color: #ffa722;
    color:white;
}
.rating-color{
    color: #FF9800;
}